body {
  background-color: var(--mantine-color-background-9) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.my-scroll-container {
  overflow-y: scroll;
  max-height: 300px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}
.ant-picker-time-panel {
  display: none !important;
}
.selectedCutClass {
  opacity: 50%;
}

.mantine-Menu-item {
  font-weight: 600;
}

.mantine-Carousel-control {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none !important;
  color: white !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
}
.mantine-Select-option:hover {
  background-color: #366fb415 !important;
}
.mantine-Select-option {
  border-radius: 0px !important;
}
